/* <html><head><meta name="robots" content="noindex"></head></html> */

/* Reset */
div,dl,dt,dd,ul,ol,li,form,fieldset,input,th,td { margin: 0; padding: 0; }
pre,p,blockquote,h1,h2,h3,h4,h5,h6 { margin: 1em 0 1em 0; }
blockquote { border-left: solid 2px #ccc; padding: 0 1em; margin-left: 0.2em; color: #888; }
h1 { font-size: 1.4em; } h2 { font-size: 1.3em; } h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; } h5 { font-size: 0.9em; } h6 { font-size: 0.9em; }
ul { margin-left: 2em; }

/* Standard classes */
.clearer,
.clear        { float: none; clear: both; }
.right        { float: right; }
.left         { float: left; }
.align-center { text-align: center; }
.align-right  { text-align: right; }
.mute         { color: #888; }
.center       { margin-left: auto; margin-right: auto; }
.small        { font-size: 0.9em; }
.big          { font-size: 1.2em; }

.oh           { overflow: hidden; }
.pr           { padding-right: 10px; }  .pl { padding-left:   10px; }
.pt           { padding-top:   10px; }  .pb { padding-bottom: 10px; }
.mr           { margin-right:  10px; }  .ml { margin-left:    10px; }
.mt           { margin-top:    10px; }  .mb { margin-bottom:  10px; }

/* Splits */
.split .left  { width: 49%; padding: 0; margin-right: 2%; clear: both; float: left; }
.split .right { width: 49%; padding: 0; float: left; }

/* More splits */
.split-3 .c1, .split-3 .c2, .split-3 .c3 { width: 31%; margin-right: 2%; float: left; padding: 0; }
.split-4 .c1, .split-4 .c2, .split-4 .c3, .split-4 .c4 { width: 23%; margin-right: 2%; float: left; padding: 0; }
.c1 { clear: both; }

/* Links */
a         { color: #4096b0; text-decoration: none; font-weight: bold; padding: 1px; }
a:visited { color: #4096b0; }
a:hover   { color: #4096b0; text-decoration: underline; }
a img     { border: 0; }
:focus    { outline: solid 2px #7bd; -moz-outline-radius: 4px; }

/*
 * Body & wrapper
 * [#all]
 */
 
    html, body
        { margin: 0; padding: 0; }
        
    body, td, input
        { font-family: arial, helvetica, sans-serif; font-size: 1em; }
        
    body
        { font-size: 0.8em; line-height: 1.45em;
        background: #ddd; color: #333; padding: 10px; }
        
    #all
        { width: 740px; margin: 0 auto; text-align: left; position: relative; }
        
    .block
        { background: white; margin: 30px 0; padding: 10px 0 10px 0; border: solid 1px #ccc; }

    .block .type 
        { padding: 4px; background: #ddd; color: #888; margin: 0 0 10px 0; font-size: 0.8em; }
        
    .block h2
        { font-size: 1.9em; font-weight: normal; margin-bottom: 0.5em; margin-top: 0.5em; }
        
    .blocktype-property h2
        { font-size: 1.5em; font-weight: bold; }
        
    .blocktype-class h2
        { background: #888; line-height: 1.4em; overflow: hidden; margin: 0 0 1em 0; padding: 10px; color: #fff; }
    
    .blocktype-function h2
        { color: #888; }
        
    .block h2,
    .block .brief,
    .block .description
        { margin-left: 10px; margin-right: 10px; }
        
    .brief { font-size: 1.2em; color: #888; }
    dl { overflow: hidden; margin-left: 10px; }
    dt { width: 20%; font-weight: bold; float: left; clear: left; }
    dd { width: 75%; float: left; margin-bottom: 0.5em; }
    h3 { color: #888; border-bottom: solid 1px #ddd; padding-bottom: 5px; margin-top: 20px; }
    
    pre { background: #f5f5ee; padding: 5px 9px; border: solid 1px #f0f0e0; font-size: 1em; line-height: 1.5em; }
    code { font-family: monaco, 'lucida console', monospace; }
    pre code { font-size: 1em; background: transparent; padding: 0; border: 0; }
    
    .block h3
        { height: 1px; background: transparent; border: 0; border-top: solid 1px #ccc; position: relative; margin: 2em 0 0px 0; font-size: 1em; }
    .block h3 span
        { position: absolute; left: 0; top: 6px; color: #888; display: block; width: 100px; }
    .block p, .block dl, .block pre
        { margin-top: 0; margin-left: 120px; }
    .block ul, .block ol
        { margin-top: 0; margin-left: 140px; }
    .block dl p,
    .block ul ul, .block ul ol, .block ul p,
    .block ol ul, .block ol ol, .block ol p,
    .block pre p
        { margin-left: 0; }
        
    .block ul ul, .block ul ol,
    .block ol ul, .block ol ol
        { margin-left: 2em; }
    .block .brief
        { margin-left: 10px; }
    .block .brief p
        { display: inline; margin: 0; padding: 0; }
        
    code
        { background: #eee; font-size: 0.9em; padding: 1px 4px; border: solid 1px #ddd; border-top: 0; border-left: 0; }

    .block-c
        { background: #aaa; position: relative; left: 3px; top: 3px; }
          
    .block-c .block
        { position: relative; top: -3px; left: -3px; }
          
          
    /* Index */
    .index .type { color: #888; font-size: 0.9em; margin-left: 5px; background: white; }